<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%for(var i=0;i<livros.length;i++) {%>
<div>
    <p><%=livros[i].id%></p>
    <p><%=livros[i].titulo%></p>
    <p><%=livros[i].descricao%></p>
    <p><%=livros[i].preco%></p>
</div>
<%}%>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('novaPromocao',function(data){
        alert("Livro em promocao "+data.livro.id)
    });
</script>
</body>
</html>